<body>
    <div class="title">
        <h1>{{currentroom}}</h1>
        <button class="leave-room" (click)="end()">Leave Room</button>
    </div>
    <div class="container">
        <div class="messages">
            <div *ngFor="let message of messages" class="message-item">
                <img [src]="message.profilePicture" alt="User Avatar" class="message-avatar" />
                <div class="message-content">
                    <strong>{{ message.username }}:</strong>
                    <span *ngIf="message.message">{{ message.message }}</span>
                    <img *ngIf="message.imageUrl" [src]="message.imageUrl" alt="Chat Image" class="chat-image" />
                </div>
            </div>
        </div>
        
        <div class="peer-list">
            <h3>Available Users:</h3>
            <ul>
                <li *ngFor="let peer of peerIds">
                    <button (click)="makeCall(peer.peerId)">Call: {{peer.username}}</button>
                </li>
            </ul>
        </div>
        <div class="video-container">
            <div class="video-wrapper">
                <video #remoteVideo class="remote-video" autoplay></video>
                <video #myVideo class="local-video" muted autoplay></video>
            </div>
            <div class="call-controls" *ngIf="isInCall"> 
                <button (click)="endCall()" class="disconnect-button">Disconnect Call</button>
            </div>
        </div>
    </div>
    <div class="typeBox">
        <form (ngSubmit)="chat()" class="input-form">
            <div class="textInput">
                <input type="text" [(ngModel)]="messagecontent" name="messagecontent" (keydown.enter)="chat()" placeholder="Type a message..." autocomplete="off" />
                <button type="submit">Submit</button>
                
                <input type="file" accept="image/*" (change)="onImageSelected($event)" class="upload-button" id="fileInput" style="display: none;" />
                <label for="fileInput" class="upload-label">📎 Attach File</label>
            </div>
        </form>
    </div>
</body>
