<div class="edit-user-container">
    <h1>Edit User</h1>
    <form (ngSubmit)="updateUser()">
        <div class="form-group">
            <label>Username:</label>
            <input type="text" [(ngModel)]="user.username" name="username" disabled />
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="text" [(ngModel)]="user.email" name="email" disabled />
        </div>
        <div class="form-group">
            <label>Groups:</label>
            <div class="groups-container">
                <ul>
                    <li *ngFor="let group of user.groups; let i = index">
                        {{ group }} 
                        <button type="button" (click)="removeGroup(i)">Remove</button>
                    </li>
                </ul>
                <select class="select-control" [(ngModel)]="newGroup" name="selectGroup">
                    <option *ngFor="let group of groups" [value]="group.groupName">{{ group.groupName }}</option>
                </select>
                <button type="button" (click)="addGroup()">Add Group</button>
            </div>
        </div>
        <div class="form-group">
            <label>Roles:</label>
            <div class="roles-container">
                <ul>
                    <li *ngFor="let role of user.roles; let i = index">
                        {{ role }} 
                        <button type="button" (click)="removeRole(i)">Remove</button>
                    </li>
                </ul>
                <select class="select-control" [(ngModel)]="newRole" name="selectRole">
                    <option *ngFor="let role of availableRoles" [value]="role">{{ role }}</option>
                </select>
                <button type="button" (click)="addRole()">Add Role</button>
            </div>
        </div>
        <button type="submit">Save Changes</button>
        <button type="button" (click)="cancelEdit()">Cancel</button> <!-- New Cancel button -->
    </form>
</div>
