<!-- groups.component.html -->
<div id="NavBarFlex" class="sidebar">
    <nav class="navbar">
        <ul class="nav navbar-nav">
            <li><a class="nav-link" routerLink="/login">Login</a></li>
            <li *ngIf="(isAdmin)"><a class="nav-link" routerLink="/users">Users</a></li>
            <li><a class="nav-link" routerLink="/profile">Profile</a></li>
        </ul>
    </nav>
    <div class="logout-container">
        <button class="logout-button" (click)="logOut()">Log Out</button>
    </div>
</div>

<div id="mainContent">
    <div class="title">
        <h1>Welcome Back</h1>
        <h2 id="UserDisplay">{{get()}}</h2>
        <h3>Where would you like to go?</h3>
    </div>

    <div class="groups">
        <ul>
          <li *ngFor="let group of groups; let i = index">
            <details>
              <summary>{{group.groupName}}</summary>
              <div class="detailsbox">
                <select name="channels" id="Channel" [(ngModel)]="selectedChannels[i]">
                  <option *ngFor="let channel of group.channels" [value]="channel">{{channel}}</option>
                </select>
            
                <button *ngIf="(userGroups.includes(group.groupName)) || (isAdmin)" (click)="join(i)">Join Channel</button>
                
                <button *ngIf="isAdmin" (click)="deleteChannel(group.groupName, selectedChannels[i])">Delete Channel</button>
            
                <input *ngIf="isAdmin" type="text" [(ngModel)]="newChannelNames[i]" placeholder="New Channel Name" />
                <button *ngIf="isAdmin" (click)="addChannel(group.groupName, i)">Add Channel</button>
            
                <button *ngIf="isAdmin" (click)="delGroup(group)">Delete Group</button>
              </div>
            </details>
          </li>
          <li *ngIf="isAdmin" class="addGroup">
            <details class="create-group-details">
              <summary>Create Group</summary>
              <input type="text" [(ngModel)]="newGroup.groupName" placeholder="Group Name">
              <input type="submit" (click)="addGroup()" value="Add Group">
            </details>
          </li>
        </ul>
      </div>
      
</div>
